.login-container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  .login-container .form-login {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font: bold 14px sans-serif;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .login-container .form-login {
        display: block; } }
    .login-container .form-login .form-row {
      margin: 0 !important;
      padding: 0 !important; }
    .login-container .form-login .form-title-row {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem; }
      .login-container .form-login .form-title-row h1 {
        border-bottom: 2px solid #6caee0;
        padding: 0.35rem 1.35rem; }
    .login-container .form-login .form-log-in-with-email {
      position: relative;
      margin: 1rem; }
      @media only screen and (max-width: 768px) {
        .login-container .form-login .form-log-in-with-email {
          margin: 0;
          padding: 2rem 2rem 1rem 2rem; } }
      .login-container .form-login .form-log-in-with-email .form-white-background {
        position: relative;
        padding: 2rem 3rem;
        background-color: #fff;
        opacity: 0.95; }
        @media only screen and (max-width: 768px) {
          .login-container .form-login .form-log-in-with-email .form-white-background {
            min-height: auto; } }
        .login-container .form-login .form-log-in-with-email .form-white-background .form-row {
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.75rem; }
          .login-container .form-login .form-log-in-with-email .form-white-background .form-row label {
            width: 100%; }
            .login-container .form-login .form-log-in-with-email .form-white-background .form-row label input {
              border: none;
              border-bottom: 2px solid #eee;
              min-width: 350px;
              padding: 0.5rem; }
              @media only screen and (max-width: 768px) {
                .login-container .form-login .form-log-in-with-email .form-white-background .form-row label input {
                  min-width: 100%; } }
              .login-container .form-login .form-log-in-with-email .form-white-background .form-row label input::placeholder {
                color: #121212; }
          .login-container .form-login .form-log-in-with-email .form-white-background .form-row button {
            width: 125px;
            background-color: #6caee0;
            color: #fff !important;
            font-weight: bold;
            line-height: 2.5rem;
            margin-top: 3rem;
            border: none; }
            @media only screen and (max-width: 768px) {
              .login-container .form-login .form-log-in-with-email .form-white-background .form-row button {
                position: relative;
                bottom: auto;
                margin: 1rem; } }
            .login-container .form-login .form-log-in-with-email .form-white-background .form-row button:hover {
              cursor: pointer;
              opacity: 0.7;
              color: #000; }
      .login-container .form-login .form-log-in-with-email .form-forgotten-password,
      .login-container .form-login .form-log-in-with-email .form-create-an-account {
        font-weight: bold;
        font-size: 16px;
        padding: 0.5rem;
        color: #fff; }
        .login-container .form-login .form-log-in-with-email .form-forgotten-password:hover,
        .login-container .form-login .form-log-in-with-email .form-create-an-account:hover {
          opacity: 0.5; }
      .login-container .form-login .form-log-in-with-email .form-create-an-account {
        background-color: #6caee0;
        color: 000;
        opacity: 0.9; }
        .login-container .form-login .form-log-in-with-email .form-create-an-account:hover {
          opacity: 0.3;
          color: #000; }
    .login-container .form-login .form-sign-in-with-social {
      position: relative;
      padding: 1rem;
      margin: 2rem;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .login-container .form-login .form-sign-in-with-social {
          margin: 0 2rem !important;
          padding: 0 !important; } }
      .login-container .form-login .form-sign-in-with-social .form-title-row {
        color: #fff;
        font-weight: bold;
        padding: 0.5rem 1rem !important;
        border-bottom: 2px solid;
        font-size: 1.5rem;
        margin-bottom: 1.25rem !important; }
      .login-container .form-login .form-sign-in-with-social .form-sign-in-with-social-btns {
        min-height: 92px;
        padding-bottom: 1rem; }
      .login-container .form-login .form-sign-in-with-social .btn {
        color: #fff;
        display: block;
        width: 145px;
        border-radius: 2px;
        margin: 8px auto; }
        .login-container .form-login .form-sign-in-with-social .btn:hover {
          opacity: 0.5; }
      .login-container .form-login .form-sign-in-with-social .form-google-button {
        background-color: rgba(222, 110, 60, 0.9); }
      .login-container .form-login .form-sign-in-with-social .form-facebook-button {
        background-color: rgba(75, 136, 194, 0.9); }

/*# sourceMappingURL=login.css.map */
